<div class="container bg">
	<div class="row">
	    <div class="center col-sm-12">
			<img src="assets/img/burger.png" alt="Eat-Da-Burger App">
	        <h1>Welcome to Joe's Shitty Burger Shack Home of the Shitty Burger</h1>
	        <p></p>
	    </div>
  	</div>
	<div class="row">
	    <div class="col-sm-6">
			<hr>
			<h2>Custom Burgers Ready To Eat!</h2>
			<ul>
			  {{#each burgers}}
			    {{#unless this.devoured}}
			      <li>
			      	{{this.id}}
			        {{this.burger_name}}
			        <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-primary" type="submit">Devour It!</button>
			        </form>
			      </li>
			    {{/unless}}
			  {{/each}}
			</ul>
	    </div>
	    <div class="col-sm-6">
			<h2>Burger Request History: Wow, you people eat some weird shit!</h2>
			  {{#each burgers}}
			    {{#if this.devoured}}
			      <li>
			      	{{this.id}}
			        {{this.burger_name}}
			      </li>
			    {{/if}}
			  {{/each}}
	    </div>
  	</div>
	<div class="row">
	    <div class="center col-sm-12">
			<h2>Request a custom Burger</h2>
			<form class="create-update-form" action="/" method="POST">
			  <div class="form-group">
			    <p>Type in a shitty burger that you want to see made and hit Submit</p>
			    <input type="text" id="ca" name="burger_name">
			  </div>
			  <button class="btn-primary" type="submit">Submit</button>
			</form>
	    </div>
  	</div>
</div>